* {
    box-sizing: border-box;
    font-family: 'zai Thin Handwritten Lettering', sans-serif;
    margin: 0;
    padding: 0;
}


body {
    width: 100vw;
    height: 100vh;
    background-color: #F5F4EF;
}

.heading {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

h1 {
    font-size: 7rem;
    font-weight: 50;
    text-align: center;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 100vw;
}

.visual {
    font-size: 3em;
    font-weight: 50;
    height: 30vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.outcome {
    font-size: 3em;
    font-weight: 50;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.score {
    font-size: 3em;
    font-weight: 50;
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 10vh;
    width: 100vw;
}

.choice {
    display: flex;
    justify-content: center;
    gap: 20px
}

.btn {
    font-size: 2em;
    font-weight: 50;
    padding: 20px 30px 20px 30px;
    border-radius: 15px;
}

.finalScore {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    font-size: 1.6em;
}

/* Game End Popup */
.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    visibility: visible;
    animation: fadeIn 150ms;
}

.popup {
    font-size: 3em;
    font-weight: 50;
    margin: 70px auto;
    padding: 50px 300px 25px 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    animation: fadeIn 200ms;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }  

.popupH2,
.popupH3 {
margin-top: 0;
margin-bottom: 20px;
color: #333;
transition: 200ms;
text-align: center;
width: 50vw;
}

.popupButtons {
    display: flex;
    flex-direction: row; 
    gap: 20px;
    margin-top: 50px;
}

.playAgainBtn,
.homeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    font-weight: 50;
    padding: 15px 100px 15px 100px;
}

.active {
    border: solid #d9d94c 1px;
    color: #d9d94c;
}